footer {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

footer .founder-image {
  width: 281px;
  height: 281px;
}

footer article {
  margin-top: -54px;
  width: 343px;
  height: 375px;
  background-color: var(--purple);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer article h1 {
  font-size: 32px;
  margin-top: 32px;
  font-weight: 600;
}

footer article p {
  margin-top: 16px;
  width: 281px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-inline: center;
}

footer button {
  margin-top: 24px;
  width: 172px;
  height: 55px;
  color: var(--purple);
  font-size: 16px;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

footer button:hover {
  color: var(--green);
  border: 1px solid var(--green);
  background-color: transparent;
}

footer .contact-area {
  width: 116px;
  height: 102px;
  margin-top: 74px;
  margin-bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 96px;
  height: 25px;
}

footer .contact-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

svg:hover path {
  fill: var(--purple);
  cursor: pointer;
}

@media (min-width: 768px) {
  footer {
    width: 768px;
    align-items: start;
  }

  footer .founder-image {
    margin-left: 39px;
  }
  footer article {
    width: 514px;
    height: 375px;
    margin-left: 216px;
    margin-top: -127px;
  }

  footer article h1 {
    font-size: 48px;
    margin-top: 48px;
  }

  footer article p {
    width: 402px;
    height: 112px;
    text-align: left;
    margin-top: 24px;
  }

  footer button {
    margin-left: 56px;
    align-self: flex-start;
  }

  footer .contact-area {
    align-self: center;
  }
}
@media (min-width: 1440px) {
}
