/* Create header - no background color */
/* make sure overflow is hidden */
header {
  width: 375px;
  height: 481px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Fill in header with purple down to flat point */
header::before {
  content: "";
  width: 375px;
  height: 419px;
  color: white;
  background-color: var(--purple);
  position: absolute;
  z-index: -1;
}

/* Create angled bottom and make wider to get correct angle */
header::after {
  content: "";
  width: 784px;
  height: 459px;
  color: white;
  background-color: var(--purple);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: -215px;
}

.titleBar {
  width: 343px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.img__logo {
  width: 95px;
  height: 25px;
}

header h1 {
  font-size: 40px;
  text-align: center;
}

header h2 {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}

header h2:hover {
  color: var(--green);
  cursor: pointer;
}

.centerSection {
  width: 343px;
  height: 195px;
  margin-top: 64px;
}

header button {
  width: 133px;
  height: 55px;
  background-color: var(--green);
  margin-top: 40px;
  border: none;
  display: block;
  margin-inline: auto;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.16px;
  color: var(--purple);
}

header button:hover {
  cursor: pointer;
  color: var(--green);
  border: 1px solid var(--green);
  background-color: transparent;
}

header .underline {
  border-bottom: 3px solid var(--green);
  line-height: 26px;
}

.leftSwirls,
.rightSwirls {
  display: none;
}

@media (min-width: 768px) {
  header {
    width: 768px;
    height: 540px;
    background-color: transparent;
  }

  /* Fill in header with purple down to flat point */
  header::before {
    display: none;
  }

  /* Create angled bottom and make wider to get correct angle */
  header::after {
    width: 1600px;
    height: 1020px;
    left: -392px;
    top: -481px;
  }

  .titleBar {
    width: 689px;
  }

  .centerSection {
    width: 455px;
    height: 121px;
    margin-top: 56px;
  }
  header h1 {
    font-size: 60px;
  }

  .leftSwirls {
    display: block;
    position: absolute;
    top: 258px;
    left: 703px;
  }
  .rightSwirls {
    display: block;
    width: 270px;
    height: 215px;
    position: absolute;
    top: 105px;
    left: -170px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  header {
    width: 1440;
    height: 540px;
    background-color: transparent;
  }

  /* Fill in header with purple down to flat point */
  header::before {
    display: none;
  }

  /* Create angled bottom and make wider to get correct angle */
  header::after {
    width: 2138px;
    height: 1353px;
    left: -650px;
    top: -813px;
  }
}
