main {
  width: 375px;
  height: 1070px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fcf8ff;
  background-color: transparent;
  margin-top: -100px;
  z-index: -10;
  overflow: hidden;
}

main::before {
  content: "";
  background-color: #fcf8ff;
  width: 784px;
  height: 700px;
  position: absolute;
  z-index: -1;
  top: 0px;
}

main::after {
  content: "";
  background-color: #fcf8ff;
  width: 784px;
  height: 459px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 609px;
}

main article {
  width: 343px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

main article:first-of-type {
  margin-top: 230px;
}

main article h1 {
  width: 48px;
  height: 48px;
  color: var(--purple);
  border: 1px solid var(--gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 600;
}

main article h2 {
  color: var(--purple);
  font-size: 28px;
  margin-top: 24px;
}

main article p {
  color: var(--gray);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  margin-top: 16px;
}

.pinkBackground {
}

@media (min-width: 768px) {
  main {
    margin-left: 78px;
    margin-top: 200px;
  }

  main article {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 36px 1fr;
    grid-template-areas:
      "number title"
      "number description";
    width: 573px;
    height: 108px;
    margin-left: 97px;
    margin-bottom: 48px;
  }

  main article h1 {
    width: 48px;
    height: 48px;
    grid-area: number;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main article h2 {
    width: auto;
    grid-area: title;
    margin-top: 0;
  }

  main article p {
    grid-area: description;
    text-align: left;
  }
}
@media (min-width: 1440px) {
}
